<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="_token" content="mytoken">
    <title>pyERP</title>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- A CDN link -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- DevExtreme themes -->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.common.css">
    {% include "dx-themes-links.html" %}
     <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.2.5/js/dx.all.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/18.2.5/js/localization/dx.messages.ru.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/18.2.5/js/localization/dx.messages.de.js"></script>
    <script src={% static 'js/dx.messages.ua.js' %}></script>
    <!-- Some settings -->
    <link rel="stylesheet" type="text/css" href={% static 'css/master.css'%}>
    <script> $(function () { $.ajaxSetup({ headers: { 'X-CSRFToken': $('meta[name="_token"]').attr('content') } }); }); </script>
  </head>

  <body>
    <!-- <script>DevExpress.localization.locale('ru' || 'ru')</script> -->

    <nav class="navbar  mynav" role="navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand mynav" href="{% url 'index' %}">pyERP</a>
    			<ul class="nav navbar-nav navbar-right">
    				{% if user.is_authenticated %}
                      <li><a href="{% url 'funds:index' %}" class="btn btn-simple" id="idMain">Main</a></li>
                      <li><a href="{% url 'funds:transaction' %}" class="btn btn-simple" id="idTransaction">Transactions</a></li>
                      <li><a href="{% url 'funds:client' %}" class="btn btn-simple" id="idClient">Clients</a></li>
                      <li><a href="{% url 'funds:currency' %}" class="btn btn-simple" id="idCurrency">Currency</a></li>
                      <li><a href="{% url 'logout' %}" class="btn btn-simple" id="idLogout">Logout</a></li>
    				{% else %}
    			      <li><a href="{% url 'about' %}" class="btn btn-simple" id="idAbout">About</a></li>
                      <li><a href="{% url 'login' %}" class="btn btn-simple idLogin">Login</a></li>
{#                      <li><a href="{% url 'signup' %}" class="btn btn-simple">Регистрация</a></li>#}
    				{% endif %}
    			</ul>

    	</div>
	</nav>
{#       <div class="dx-viewport">#}
    <div class="container mycontent">

    {% block content %}
    {% endblock %}

    <div class="option">
      <label for="selectThemeInput" id="idTheme">Theme</label>
      <div id="selectThemeBox"></div>
    </div>

    <div class="option">
      <label for="selectLangInput" id="idLang">Language</label>
      <div id="selectLangBox"></div>
    </div>

    </div>

    <script src="{% static "js/settings.js"%}"></script>

    <script src={% static 'js/captions.js' %}></script>
  </body>
</html>
