    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.light.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.light.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.dark.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.dark.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.carmine" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.carmine.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.carmine.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.carmine.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.softblue" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.softblue.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.softblue.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.softblue.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.darkmoon" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkmoon.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.darkmoon.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkmoon.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.darkviolet" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkviolet.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.darkviolet.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkviolet.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.greenmist" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.greenmist.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.greenmist.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.greenmist.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.contrast" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.contrast.css" data-active="false" />
    <link rel="dx-theme" data-theme="generic.contrast.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.contrast.compact.css" data-active="false" />

    <link rel="dx-theme" data-theme="material.blue.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.blue.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.blue.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.blue.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.lime.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.lime.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.lime.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.lime.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.orange.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.orange.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.orange.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.orange.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.purple.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.purple.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.purple.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.purple.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.teal.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.teal.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.teal.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.teal.dark.css" data-active="false" />
