{% load staticfiles %}

{#    <link rel="dx-theme" data-theme="generic.greenmist" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.greenmist.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.greenmist" href={% static 'css/theme/dx.greenmist.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.greenmist.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.greenmist.compact.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.greenmist.compact" href={% static 'css/theme/dx.greenmist.compact.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.light.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.light" href={% static 'css/theme/dx.light.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.light.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.light.compact.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.light.compact" href={% static 'css/theme/dx.light.compact.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.dark.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="generic.dark" href={% static 'css/dx.dark.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="generic.dark.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.dark.compact.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.dark.compact" href={% static 'css/theme/dx.dark.compact.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.carmine" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.carmine.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="generic.carmine" href={% static 'css/dx.carmine.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="generic.carmine.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.carmine.compact.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.carmine.compact" href={% static 'css/theme/dx.carmine.compact.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.softblue" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.softblue.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="generic.softblue" href={% static 'css/dx.softblue.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="generic.softblue.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.softblue.compact.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="generic.softblue.compact" href={% static 'css/dx.softblue.compact.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="generic.darkmoon" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkmoon.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="generic.darkmoon" href={% static 'css/dx.darkmoon.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="generic.darkmoon.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkmoon.compact.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.darkmoon.compact" href={% static 'css/theme/dx.darkmoon.compact.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.darkviolet" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkviolet.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="generic.darkviolet" href={% static 'css/dx.darkviolet.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="generic.darkviolet.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.darkviolet.compact.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.darkviolet.compact" href={% static 'css/theme/dx.darkviolet.compact.css' %} data-active="false" />
{#    <link rel="dx-theme" data-theme="generic.contrast" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.contrast.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="generic.contrast" href={% static 'css/dx.contrast.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="generic.contrast.compact" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.contrast.compact.css" data-active="false" />#}
    <link rel="dx-theme" type="text/css" data-theme="generic.contrast.compact" href={% static 'css/theme/dx.contrast.compact.css' %} data-active="false" />

{#    <link rel="dx-theme" data-theme="material.blue.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.blue.light.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.blue.light" href={% static 'css/dx.material.blue.light.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.blue.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.blue.dark.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.blue.dark" href={% static 'css/dx.material.blue.dark.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.lime.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.lime.light.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.lime.light" href={% static 'css/dx.material.lime.light.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.lime.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.lime.dark.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.lime.dark" href={% static 'css/dx.material.lime.dark.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.orange.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.orange.light.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.orange.light" href={% static 'css/dx.material.orange.light.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.orange.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.orange.dark.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.orange.dark" href={% static 'css/dx.material.orange.dark.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.purple.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.purple.light.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.purple.light" href={% static 'css/dx.material.purple.light.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.purple.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.purple.dark.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.purple.dark" href={% static 'css/dx.material.purple.dark.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.teal.light" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.teal.light.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.teal.light" href={% static 'css/dx.material.teal.light.css' %} data-active="false" />#}
{#    <link rel="dx-theme" data-theme="material.teal.dark" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.material.teal.dark.css" data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="material.teal.dark" href={% static 'css/dx.material.teal.dark.css' %} data-active="false" />#}

    <link rel="dx-theme" type="text/css" data-theme="win10.black" href={% static 'css/theme/dx.win10.black.css' %} data-active="false" />
    <link rel="dx-theme" type="text/css" data-theme="win10.white" href={% static 'css/theme/dx.win10.white.css' %} data-active="false" />

{#    <link rel="dx-theme" type="text/css" data-theme="win8.black" href={% static 'css/dx.win8.black.css' %} data-active="false" />#}
{#    <link rel="dx-theme" type="text/css" data-theme="win8.white" href={% static 'css/dx.win8.white.css' %} data-active="false" />#}

    <link rel="dx-theme" type="text/css" data-theme="android5.light" href={% static 'css/theme/dx.android5.light.css' %} data-active="false" />
    <link rel="dx-theme" type="text/css" data-theme="ios7.default" href={% static 'css/theme/dx.ios7.default.css' %} data-active="false" />

