.option {
    padding: 10px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 10px;
    float: right;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option > label {
  margin-right: 10px;
}

.option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
}


/*.dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused)*/
/*{*/
    /*!*color: #c56363;*!*/
    /*background-color: #e7f4ff;*/
/*}*/

/*[aria-label="Column Amount"] {*/
    /*color: #c56363*/
/*}*/

/*[aria-colindex="5"] .dx-datagrid-summary-item {*/
    /*color: #c56363*/
/*}*/

/*[aria-describedby="dx-col-15"] {*/
    /*color: #c56363*/
/*}*/

.master-detail-caption {
    padding: 0 0 5px 10px;
    font-size: 14px;
    font-weight: bold;
}